<div style="text-align:center">
  <h1>
    dlChart Demo
  </h1>
</div>
<div style="text-align: center;">
  <div>
  <!--<div style="display: inline-block; width: 400px; height: 400px;text-align:center;margin: 50px;">
    <h2>Pie Chart</h2>
    <input (keyup)="onKey($event)" placeholder="Filter the Chart ('3' shows only two Values)">
    <br>
    <label><input [(ngModel)]="useDonutStyle" (ngModelChange)="onChangeUseDonut($event)"  type="checkbox"/>use Donut style</label>
    <br>
    <label>Size <input [(ngModel)]="donutSize" (ngModelChange)="onChangeDonutSize($event)" type="number"></label>
    <label>Color <input [(ngModel)]="donutColor" (ngModelChange)="onChangeDonutColor($event)" type="color"></label>
    <dl-pie-chart [chartid]="'test-chart'" [values]="filterValues" [donutConfiguration]="donutConfig"></dl-pie-chart>
    <dl-chart-legend [chartid]="'test-chart'"></dl-chart-legend>
  </div>
<br>-->
  <!--<div style="display: inline-block; width: 400px; height: 400px;text-align:center;margin: 50px;">
    <h2>Bar Chart</h2>
    <div>
      <div>
        <input [(ngModel)]="wrapperWidth" (ngModelChange)="changeWidth()">
        <input [(ngModel)]="wrapperHeight" (ngModelChange)="changeHeight()">
        <input (keyup)="onKeyBar($event)" placeholder="Filter the Chart ('3' shows only two Values)">
        <br>
        <label>Orientation 
          <select style="margin-left: 20px;" [(ngModel)]="selectedOrientation">
            <option [ngValue]="0">Bottom</option>
            <option [ngValue]="1">Left</option>
            <option [ngValue]="2">Right</option>
            <option [ngValue]="3">Top</option>
          </select>
        </label>
        <br>
        <label><input [(ngModel)]="leftScaleAxis" type="checkbox"/>Left Scale Axis</label>
        <label><input [(ngModel)]="rightScaleAxis" type="checkbox" />Right Scale Axis</label>
        <br>
        <label>Bar offset <input [(ngModel)]="barOffset" type="number"></label>
        <br>
        <label>Scale steps <input [(ngModel)]="currentSteps" type="number"></label>
        <br>
        <label><input [(ngModel)]="hideSelectLine" type="checkbox" />Hide select Line</label>
        <div #barchartWrapper style="width: 550px;height: 450px;" [style.width.px]="wrapperWidth" [style.height.px]="wrapperHeight">
          <dl-bar-chart 
            [orientation]="selectedOrientation" 
            [chartid]="'test-chart-bar'" 
            [scaleLabel]="'Demo Values'" 
            [steps]="currentSteps" 
            [values]="filterValuesBar"
            [leftScaleAxis]="leftScaleAxis"
            [rightScaleAxis]="true"
            [barOffset]="barOffset"
            [hideSelectLine]="hideSelectLine"
          ></dl-bar-chart>    
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <label><input [(ngModel)]="hideChartHoverEffect" type="checkbox"/>Hide Chart hover effect</label>
      <label><input [(ngModel)]="hideChartSelectEffect" type="checkbox" />Hide Chart select effect</label>
      <br>
      <div >
        <dl-chart-legend 
          [chartid]="'test-chart-bar'"
          [hideChartHoverEffect]="hideChartHoverEffect"
          [hideChartSelectEffect]="hideChartSelectEffect"
        ></dl-chart-legend>
      </div>
    </div>
  </div>
  <br>-->
  <!--<div style="display: inline-block; width: 400px; height: 400px;text-align:center;margin: 50px;">
    <h2>Line Chart</h2>
    <input [(ngModel)]="wrapperWidthLine" (ngModelChange)="changeWidthLine()">
    <input [(ngModel)]="wrapperHeightLine" (ngModelChange)="changeHeightLine()">
    <br>
    <label>Orientation 
      <select style="margin-left: 20px;" [(ngModel)]="selectedOrientationLine">
        <option [ngValue]="0">Bottom</option>
        <option [ngValue]="1">Left</option>
        <option [ngValue]="2">Right</option>
        <option [ngValue]="3">Top</option>
      </select>
    </label>
    <br>
    <label><input [(ngModel)]="leftScaleAxisLine" type="checkbox"/>Left Scale Axis</label>
    <label><input [(ngModel)]="rightScaleAxisLine" type="checkbox" />Right Scale Axis</label>
    <br>
    <label>Scale steps <input [(ngModel)]="currentStepsLine" type="number"></label>
    <label><input [(ngModel)]="hideRaster" type="checkbox" />Hide Raster</label>
    <br>
    <label><input [(ngModel)]="hideLines" type="checkbox" />Hide Lines</label>
    <label><input [(ngModel)]="hidePoints" type="checkbox" />Hide Points</label>
    <br>
    <label><input [(ngModel)]="hideSelectionLines" type="checkbox" />Hide selection lines</label>
    <div [style.width.px]="wrapperWidthLine" [style.height.px]="wrapperHeightLine">
      <dl-line-chart 
        [chartid]="'line-chart'" 
        [values]="lines" 
        [orientation]="selectedOrientationLine" 
        [leftScaleAxis]="leftScaleAxisLine"
        [rightScaleAxis]="true"
        [steps]="currentStepsLine"
        [hideRaster]="hideRaster"
        [hideLines]="hideLines"
        [hidePoints]="hidePoints"
        [hideSelectionLines]="hideSelectionLines"
      ></dl-line-chart>
    </div>
    <dl-chart-legend [chartid]="'line-chart'"></dl-chart-legend>
  </div>-->
  <div style="display: inline-block; width: 400px; height: 400px;text-align:center;margin: 50px;width: 100%">
    <h2>Line Chart</h2>
    <input [(ngModel)]="wrapperWidthLine" (ngModelChange)="changeWidthLine()">
    <input [(ngModel)]="wrapperHeightLine" (ngModelChange)="changeHeightLine()">
    <br>
    <label>Orientation 
      <select style="margin-left: 20px;" [(ngModel)]="selectedOrientationLine">
        <option [ngValue]="0">Bottom</option>
        <option [ngValue]="1">Left</option>
        <option [ngValue]="2">Right</option>
        <option [ngValue]="3">Top</option>
      </select>
    </label>
    <br>
    <label><input [(ngModel)]="leftScaleAxisLine" type="checkbox"/>Left Scale Axis</label>
    <label><input [(ngModel)]="rightScaleAxisLine" type="checkbox" />Right Scale Axis</label>
    <br>
    <label>Scale steps <input [(ngModel)]="currentStepsLine" type="number"></label>
    <label><input [(ngModel)]="hideRaster" type="checkbox" />Hide Raster</label>
    <br>
    <label><input [(ngModel)]="hideLines" type="checkbox" />Hide Lines</label>
    <label><input [(ngModel)]="hidePoints" type="checkbox" />Hide Points</label>
    <br>
    <label><input [(ngModel)]="hideSelectionLines" type="checkbox" />Hide selection lines</label>
    <div style="margin-left: 15%;margin-right: 15%;height: 400px;">
      <dl-line-chart1
        [chartid]="'line-chart'" 
        [values]="lines" 
        [orientation]="selectedOrientationLine" 
        [leftScaleAxis]="leftScaleAxisLine"
        [rightScaleAxis]="rightScaleAxisLine"
        [steps]="currentStepsLine"
        [hideRaster]="hideRaster"
        [hideLines]="hideLines"
        [hidePoints]="hidePoints"
        [hideSelectionLines]="hideSelectionLines"
      ></dl-line-chart1>
    </div>
    <dl-chart-legend [chartid]="'line-chart'"></dl-chart-legend>
  </div>
</div>
</div>


