<div style="text-align:center">
  <h1>
    dlChart Demo
  </h1>
</div>
<div style="text-align: center;">
  <div>
  <div style="display: inline-block; width: 400px; height: 400px;text-align:center;margin: 50px;">
    <h2>Pie Chart</h2>
    <input (keyup)="onKey($event)" placeholder="Filter the Chart ('3' shows only two Values)">
    <dl-pie-chart [chartid]="'test-chart'" [values]="filterValues"></dl-pie-chart>
    <dl-chart-legend [chartid]="'test-chart'"></dl-chart-legend>
  </div>

  <div style="display: inline-block; width: 400px; height: 400px;text-align:center;margin: 50px;">
    <h2>Bar Chart</h2>
    <div>
      <div>
        <input (keyup)="onKeyBar($event)" placeholder="Filter the Chart ('3' shows only two Values)">
        <select style="margin-left: 20px;" [(ngModel)]="selectedOrientation">
          <option [ngValue]="0">Bottom</option>
          <option [ngValue]="1">Left</option>
          <option [ngValue]="2">Right</option>
          <option [ngValue]="3">Top</option>
        </select>
        <br>
        <label><input [(ngModel)]="leftScaleAxis" type="checkbox"/>Left Scale Axis</label>
        <label><input [(ngModel)]="rightScaleAxis" type="checkbox" />Right Scale Axis</label>
        <!--TODO: Steps cannot be set dynamic <input [(ngModel)]="currentSteps" placeholder="Filter the Chart ('3' shows only two Values)">-->
        <dl-bar-chart 
          [orientation]="selectedOrientation" 
          [chartid]="'test-chart-bar'" 
          [scaleLabel]="'Demo Values'" 
          [steps]="10" 
          [values]="filterValuesBar"
          [leftScaleAxis]="leftScaleAxis"
          [rightScaleAxis]="rightScaleAxis"
        ></dl-bar-chart>    
      </div>
      <div style="width: 100px;display: inline-block;">
        <dl-chart-legend [chartid]="'test-chart-bar'"></dl-chart-legend>
      </div>
    </div>
  </div>
</div>
</div>


